<mat-card>
  <form (submit) = "onSignup(signupForm)" #signupForm = "ngForm">
    <mat-form-field>
      <input
        matInput
        type = "text"
        name = "fullName"
        ngModel
        placeholder = "Full Name"
        #fullName = "ngModel"
        required
        >
      <mat-error *ngIf = "fullName.invalid">Please enter your name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type = "text"
        name = "mobile"
        ngModel
        placeholder = "Mobile Number"
        #mobile = "ngModel"
        required
        minlength = "10"
        maxlength = "10"
        >
      <mat-error *ngIf = "mobile.invalid">Please enter a valid mobile number.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type = "email"
        name = "email"
        ngModel
        placeholder = "E-mail"
        #emailInput = "ngModel"
        required
        email
        >
      <mat-error *ngIf = "emailInput.invalid">Please enter a valid Email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [type]="showPassword ? 'text' : 'password'"
        name = "password"
        ngModel
        #passwordInput = "ngModel"
        placeholder = "Password"
        required
        >
      <mat-error *ngIf = "passwordInput.invalid">Please enter a valid Password.</mat-error>
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox (change) = "showHiddenPassword($event)">Show Password</mat-checkbox>
    </section>
    <button
      mat-raised-button
      color="accent"
      type="submit">Signup</button>
  </form>
</mat-card>
