mat-spinner {
  margin: auto;
}

.image {
  margin-top: 30%;
  margin-bottom: 40%;
  width: 70px;
}

.delete {
  background-color: rgba(224, 8, 8, 0.993);
}

.add {
  background-color: rgba(0, 74, 184, 0.801);
  position: absolute;
  right: 230px;
  top: 45px;
}

.minus  {
  background-color: rgba(0, 74, 184, 0.801);
  position: absolute;
  right: 370px;
  top: 45px;
}

.quantity {
  position: absolute;
  right: 320px;
  top: 55px;
}

mat-card {
  border-radius: 25px;
}

.clear {
  margin-top: 30px;
  width: 180px;
  height: 46px;
  margin-left: 10px;
  margin-right: 50px;
  background-color: rgba(190, 5, 5, 0.993);
  border-radius: 25px;
  color: white  ;
}

.place {
  margin-top: 30px;
  width: 180px;
  height: 46px;
  background-color: rgba(50, 150, 3, 0.986);
  border-radius: 25px;
  color: white;
}

.available {
  margin-top: 250px;
  text-align: center;
  font-weight: 400;
  font-size: xx-large;
}
